// @font-face {
//   font-family: Rubik Regular;
//   src: url('../assets/fonts/Rubik-Regular.ttf');
//   font-weight: 400;
// }
// @font-face {
//   font-family: Rubik Regular;
//   src: url('../assets/fonts/Rubik-Medium.ttf');
//   font-weight: 500;
// }
// @font-face {
//   font-family: Rubik Medium;
//   src: url('../assets/fonts/Rubik-Medium.ttf');
// }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  background-color: #f5f6f9;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }

  ul {
    outline: none;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  #root {
    height: 100%;
    width: 100%;
  }
}
